::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #343434;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#main {
    max-height: 95vh;
    max-width: 95vw;
    aspect-ratio: 16/9;

    margin-top: 3vh;

    background-image: url("../assets/images/quick-ps-6CsREDPUK3Y-unsplash.jpg");
    background-size: contain;
}

#plot{
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}